@media screen and (max-width: 576px) {
      body {
            margin: 5px;
            width: 100%;
            height: 100%;

      }

      .Get {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
      }
     .fix{
      margin-top: -27px;
      margin-left: -4px;
     }

      #header-h3 {
            margin-top: 75px;
      }

      .nav-style {
            display: none;

      }

      .nav-sec {
            display: flex;
            flex-direction: row;
            align-items: start;
            margin: 0px;
      }

      .nav {
            position: static;
            width: 285px;
            height: 129px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 28;
            padding: 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 28px 0px;
      }

      .header-p {

            position: static;
            width: 274px;
            height: 96px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 28;
            padding: 0px;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 28px 0px;
      }

      .btn-1 {
            position: static;
            width: 169px;
            height: 54px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 10;
            padding: 16px 40px 16px 40px;
            flex: none;
            order: 0;
            flex-grow: 1;
            margin: 0px 14px;
      }

      .btn-2 {
            position: static;
            width: 169px;
            height: 54px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 10;
            padding: 16px 40px 16px 40px;
            flex: none;
            order: 1;
            flex-grow: 1;
            margin: 0px 14px;
      }

      .nav-nav {
            position: absolute;
            width: 576px;
            height: 700px;
            left: 30px;
            top: 930px;
             margin-bottom: 576px; 
      }

      .style-1 {

            position: absolute;
            width: 155.74px;
            height: 72px;
            left: 32px;
            top: 460px;
      }

      .style-2 {


            position: absolute;
            width: 145.91px;
            height: 74.09px;
            left: 216px;
            top: 170px;
      }
 .habit{
  

position: absolute;
 width: 338px;
height: 1398px;
left: 8px;
top: 1370px; 
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin-right:  60px;

 }
 
 .habits{  

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 30;
flex: none;
order: 0;
flex-grow: 0;
 margin-right:  60px;
 }

 .habit-1{
       margin-right: 60px; 

      

 }
 .habits{
      margin-right: 150px;
 }
 .habit-img{
      margin-right: 15%;
 }
 
 .run{
  
 display: flex;
 flex-direction: column;     
/* width: 353px; */
width: 90%;
height: 621px;
left: 40px;  
top: 2488px;
margin-top: 600%;
margin-right: 200px;
justify-self: start;
justify-content: start;
 }
 .bmi-margin{
      margin-top: -3440px;
 }
 .bmi{
      display: flex;
      flex-direction: column;
      margin: 0%;
      padding: 0%;
 }
  .Movement{
position: static;
width: 353px;
height: 1188px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 20;
padding: 20px;
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 20px; 
 }
  .trainer{
     

}
.txt{
       position: static; 
      width: 90%;
      display: flex;
      flex-direction: column;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      margin: 20px 0px;
}
 .run-img{
      
position: absolute;
width: 287px;
height: 170px;

 }
 .img1{
      
position: absolute;
width: 287px;
height: 170px;
left: 33px;
top: 326px;
 }

 
.class{

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

padding: 0px;
margin-top: -50px;

}


input{

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;




flex: none;
order: 0;
flex-grow: 1;
margin: 0px 
}
 
.footer{
      
position: absolute;
width: 393px;
height: 986px;
left: 0;
top: 6177px;
display: flex;
flex-direction: column;
}
.foot{
      position: static;
      width: 90%;
      /* height: 200px; */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20;
      padding: 0px;
      margin: 0px 102px;
     

}